.app-container {
  display: flex;
  width: 100vw;
}

.main-content {
  flex: 1 1 0%;
  transition: margin-left 0.22s cubic-bezier(.4,0,.2,1);
  margin-left: 72px;   /* largura da sidebar fechada */
  padding: 40px 32px;  /* pode ajustar esse padding como preferir */
  min-height: 100vh;
  background: #191626; /* cor do fundo do app, pode ajustar */
}

.app-container.sidebar-expanded .main-content {
  margin-left: 340px;  /* largura da sidebar aberta */
}